@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato";
  color: #212121;
}

.container {
  overflow: auto;
}

.logo {
  position: absolute;
  width: 150px;
  height: 49px;
  left: 50px;
  top: 25px;
}

nav li {
  display: inline;
  list-style-type: none;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #212121;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after {
  width: 100%;
  left: 0;
}

a:active {
  text-decoration: underline;
}

.beranda {
  position: absolute;
  width: 67px;
  height: 28px;
  left: 269px;
  top: 35px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: flex-end;
  text-decoration-line: none;
}

.fitur {
  position: absolute;
  width: 40px;
  height: 28px;
  left: 396px;
  top: 35px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: flex-end;
  text-decoration-line: none;
}

.tentangKami {
  position: absolute;
  width: 110px;
  height: 28px;
  left: 496px;
  top: 35px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: flex-end;
  text-decoration-line: none;
}

.kontak {
  position: absolute;
  width: 57px;
  height: 28px;
  left: 666px;
  top: 35px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: flex-end;
  text-decoration-line: none;
}

.gambarTangan {
  display: flex;
  justify-content: flex-end;
  height: auto;
  max-width: 100%;
}

.tagLine {
  position: absolute;
  width: 892px;
  height: 162px;
  left: 50px;
  top: 329px;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 86px;
}

.subTag {
  position: absolute;
  width: 814px;
  height: 39px;
  left: 50px;
  top: 521px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #757575;
}

.appleStore {
  position: absolute;
  width: 275px;
  height: 104px;
  left: 50px;
  top: 590px;
}

.playStore {
  position: absolute;
  width: 279px;
  height: 104px;
  left: 325px;
  top: 590px;
}

.angka1 {
  position: absolute;
  width: 49px;
  height: 72px;
  left: 65px;
  top: 694px;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 86px;
  display: flex;
  align-items: center;
}

.text1 {
  position: absolute;
  width: 122px;
  height: 57px;
  left: 114px;
  top: 702px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
}

.angka2 {
  position: absolute;
  width: 106px;
  height: 72px;
  left: 274px;
  top: 694px;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 86px;
  display: flex;
  align-items: center;
}

.text2 {
  position: absolute;
  width: 129px;
  height: 57px;
  left: 390px;
  top: 702px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .gambarTangan {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .gambarTangan {
    display: none;
  }
}

@media screen and (max-width: 1556px) {
  .tagLine {
    position: absolute;
    width: 490px;
    height: 258px;
    left: 50px;
    top: 243px;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;
  }

  .subTag {
    position: absolute;
    width: 510px;
    height: 39px;
    left: 50px;
    top: 521px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #757575;
  }

  .appleStore {
    position: absolute;
    width: 226px;
    height: 85px;
    left: 50px;
    top: 580px;
  }

  .playStore {
    position: absolute;
    width: 229px;
    height: 85px;
    left: 308px;
    top: 580px;
  }

  .angka1 {
    position: absolute;
    width: 49px;
    height: 72px;
    left: 62px;
    top: 672px;
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 86px;
    display: flex;
    align-items: center;
  }

  .text1 {
    position: absolute;
    width: 122px;
    height: 57px;
    left: 111px;
    top: 680px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
  }

  .angka2 {
    position: absolute;
    width: 106px;
    height: 72px;
    left: 264px;
    top: 672px;
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 86px;
    display: flex;
    align-items: center;
  }

  .text2 {
    position: absolute;
    width: 129px;
    height: 57px;
    left: 372px;
    top: 680px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
  }
}
